.company-sectioncy {
    padding: 60px 8%;
    background: #f8faff;
    height: 100%;
}

.company-sectioncy h2 {
    text-align: center;
    font-size: 42px;
    padding-bottom: 15px;
}

.company-sectioncy h2 span {
    color: #2563eb;
}

.subtitlecy {
    text-align: center;
    color: #6b7280;
    margin-bottom: 50px;
}

.company-controlscy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.tabscy button {
    background: none;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.tabscy .active {
    color: #2563eb;
    border-bottom: 2px solid #2563eb;
}

.company-controlscy input {
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.company-gridcy {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 24px;
}

.company-cardcy {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.company-cardcy p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
}

.company-cardcy img {
    /* width: 60px; */
    height: 20px;
    object-fit: contain;
    margin-bottom: 0px;
}

.company-cardcy .industrycy {
    color: #6b7280;
    font-size: 14px;
}

.career-btncy {
    display: inline-block;
    margin-top: 12px;
    padding: 8px 16px;
    background: #2563eb;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}


@media (max-width: 768px) {
    .profile {
        display: flex;
        align-items: center;
        gap: 8px;
        background: #f9fafb;
        padding: 6px;
        border-radius: 20px;
        cursor: pointer;
    }

    .company-gridcy {
        display: grid;
        grid-template-columns: auto;
        gap: 24px;
    }

    .tabscy {
        display: flex;
        overflow: scroll;
        padding-bottom: 10px;
    }

    .company-sectioncy h2 {
        text-align: center;
        font-size: 30px;
        padding-bottom: 15px;
    }

    .subtitlecy {
        text-align: center;
        color: #6b7280;
        margin-bottom: 35px;
    }

    .career-btncy {
        display: inline-block;
        margin-top: 5px;
        padding: 8px 16px;
        background: #2563eb;
        color: #fff;
        border-radius: 6px;
        text-decoration: none;
        text-align: center;
    }

    .company-controlscy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        background-color: white;
        padding: 10px;
        width: 100%;
    }

    .company-cardcy p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        gap: 10px;
    }

    .company-cardcy img {
        /* width: 60px; */
        height: 20px;
        object-fit: contain;
        margin-bottom: 0px;
    }

    .company-cardcyimg {
        height: 35px !important;
        object-fit: contain;
        margin-bottom: 0px;
    }

    .company-sectioncy {
        padding: 30px 2%;
        background: #f8faff;
        height: 100%;
    }

    .company-cardcy {
        background: #fff;
        padding: 20px;
        border-radius: 12px;
        text-align: left;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: start;
    }

    .tabscy button {
        font-size: 15px;
    }
}

@media (max-width: 325px) {
    .tabscy button {
        background: none;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
    }
}