* {
  box-sizing: border-box;
}

.navbar {
  height: 70px;
  padding: 0 32px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

/* LEFT */
.logo {
  font-size: 22px;
  font-weight: 700;
  color: #2563eb;
}

/* CENTER */
.navbar-center {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-center li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 6px;
  position: relative;
}

.navbar-center a.active {
  color: #2563eb;
  font-weight: 600;
}

.navbar-center a.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #2563eb;
  border-radius: 6px;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.notification {
  background: #f3f4f6;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f9fafb;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
}

.profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile span {
  font-size: 14px;
  font-weight: 500;
}

/* HAMBURGER */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar-center a.active::after {
    display: none;
  }

  .company-controlscy input {
    width: 100%;
  }

  .navbar-center li a {
    padding: 25px 20px;
    font-size: 17px;
  }

  .navbar-center a.active {
    background-color: #2563EB1A;
    padding: 25px 20px;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .navbar {
    padding: 0 15px;
    height: 58px;
  }

  .hamburger {
    display: flex;
  }

  .navbar-center {
    position: fixed;
    top: 57px;
    left: 0;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    gap: 0;
    /* border-bottom: 1px solid #e5e7eb; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    z-index: 1000;
  }

  .navbar-center.open {
    max-height: 300px;
    /* Adjust this based on your content height */
    transition: max-height 0.4s ease-in;
  }

  .navbar-center li {
    padding: 0px;
    border-top: 1px solid #f3f4f6;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .navbar-center.open li {
    opacity: 1;
    transform: translateY(0);
  }

  /* Staggered animation for menu items */
  .navbar-center.open li:nth-child(1) {
    transition-delay: 0.1s;
  }

  .navbar-center.open li:nth-child(2) {
    transition-delay: 0.2s;
  }

  .navbar-center.open li:nth-child(3) {
    transition-delay: 0.3s;
  }

  .profile span {
    display: none;
  }
}